/.idea
/public/uploads
/app/user/controller/old
/runtime/temp
/runtime
/extend/phpqrcode/cache
/extend/jietu
/public/app/v1
/public/app/css.apk
/public/static/app
/public/static/business
/public/static/test
/app/database.php
/app/config.php
/public/css_admin
/app/user_v6/controller/task_lock.txt
/app/user_v6/controller/lock.txt
/app/user_v5/controller/lock.txt
/public/app/cssapp/config/config.js
/public/new_store/static/config.js
/public/static/admin/js/config.js
/public/pt/js/http.js
