<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
    <style type="text/css">

        /* tooltip */
        #tooltip{
            position:absolute;
            border:1px solid #ccc;
            background:#333;
            padding:2px;
            display:none;
            color:#fff;
        }
    </style>
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li><a href="{:url('admin/card/index')}" class="a_menu">卡券列表</a></li>
            <li class="layui-this">店铺列表</li>
            <li><a href="{:url('admin/card/store_publish',['card_id'=>$param['id']])}" class="a_menu">新增店铺</a></li>
        </ul>
    </div>
    <table class="layui-table" lay-size="sm">

        <thead>
        <tr>
            <th>店铺ID</th>
            <th>店铺名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <form class="layui-form" id="admin">
            {volist name="lists" id="vo"}
            <tr>
                <td>{$vo.store_id}</td>
                <td>{$vo.store_name}</td>
                <td class="operation-menu">
                    <div class="layui-btn-group">
                        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i>删除</a>
                    </div>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
    </form>
    <div style="padding:0 20px;">{$lists->render()}</div>
    {include file="public/foot"}
    <script type="text/javascript">

        $('.delete').click(function(){
            var id = $(this).attr('id');
            layer.confirm('确定要删除?', function(index) {
                $.ajax({
                    url:"{:url('admin/card/store_delete')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if(res.code == 1) {
                            setTimeout(function(){
                                location.href = res.url;
                            },1500)
                        }
                    }
                })
            })
        })
    </script>
</div>
</body>
</html>
