<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li><a href="{:url('admin/my_shop/goods_list')}" class="a_menu">订单列表</a></li>
            <li class="layui-this">发货</li>
        </ul>
    </div>
    <div style="margin-top: 20px;">
    </div>
    <form class="layui-form" id="admin">
        <!--<div class="layui-form-item">
            <div class="layui-input-block" style="max-width:600px;color: red;">备注：销售人员账号密码默认88888888</div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input lay-verify="required" autocomplete="off" disabled class="layui-input" type="text" {notempty name="$data.order_no"} value="{$data.order_no}"{/notempty}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input lay-verify="required" autocomplete="off" disabled class="layui-input" type="text" {notempty name="$data.shouhuo_username"} value="{$data.shouhuo_username}"{/notempty}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">收货电话</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input lay-verify="required" autocomplete="off" disabled class="layui-input" type="text" {notempty name="$data.shouhuo_mobile"} value="{$data.shouhuo_mobile}"{/notempty}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">收货地址</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input lay-verify="required" autocomplete="off" disabled class="layui-input" type="text" {notempty name="$data.shouhuo_address"} value="{$data.shouhuo_address}"{/notempty}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">配送人</label>
            <div class="layui-input-inline">
                <select name="sale_id" lay-search=""  lay-verify="required">
                    <option value="">请选择</option>
                    {volist name="$sale" id="vo"}
                    <option value="{$vo.sale_id}">{$vo.nickname}</option>
                    {/volist}
                </select>
            </div>
        </div>

        {notempty name="$data"}
        <input type="hidden" name="id" value="{$data.id}">
        {/notempty}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>


    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>

    <script>
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '#thumb' //绑定元素
                ,url: "{:url('common/upload')}" //上传接口
                ,data:{module:'sale',use:'avatar'}
                ,done: function(res){
                    //上传完毕回调
                    if(res.code == 2) {
                        $('#demo1').attr('src',res.src);
                        $('#upload-thumb').append('<input type="hidden" name="avatar" value="'+ res.src +'">');
                    } else {
                        layer.msg(res.msg);
                    }
                }
                ,error: function(){
                    //请求异常回调
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
    </script>
    <script>
        layui.use(['layer', 'form'], function() {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            $(window).on('load', function() {
                form.on('submit(admin)', function(data) {
                    $.ajax({
                        url:"{:url('admin/my_shop/fahuo')}",
                        data:$('#admin').serialize(),
                        type:'post',
                        async: false,
                        success:function(res) {
                            if(res.code == 1) {
                                layer.alert(res.msg, function(index){
                                    location.href = res.url;
                                })
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    })
                    return false;
                });
            });
        });
    </script>
</div>
</body>
</html>