<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
    <style type="text/css">

        /* tooltip */
        #tooltip{
            position:absolute;
            border:1px solid #ccc;
            background:#333;
            padding:2px;
            display:none;
            color:#fff;
        }
    </style>
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">分类轮播图</li>
            <li><a href="{:url('admin/store_type/ms_banner_publish')}" class="a_menu">新增轮播图</a></li>
        </ul>
    </div>
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="50">
            <col width="200">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>编号</th>
            <th>封面</th>
            <th>跳转类型</th>
            <th>创建时间</th>
            <th>排序(从小到大)</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="checklist">
        <form class="layui-form" id="admin">
            {volist name="lists" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td><a href="{$vo.img_url}" class="tooltip"><img src="{$vo.img_url}" width="20" height="20"></a></td>
                <td>{if condition="$vo.type eq 1"/}商品{elseif condition="$vo.type eq 2"/}外链接{elseif condition="$vo.type eq 3"/}富文本{elseif condition="$vo.type eq 4"/}店铺{elseif condition="$vo.type eq 5"/}登录{elseif condition="$vo.type eq 6"/}注册{elseif condition="$vo.type eq 9"/}活动跳转商品{elseif condition="$vo.type eq 10"/}活动跳转店铺{else/}无跳转{/if}</td>
                <td>{$vo.create_time|date="Y-m-d H:i:s" ,###}</td>
                <td>
                    <input data-id="{$vo.id}" class="sort" style="display:inline-block;max-width:40px;" value="{$vo.sort}" />
                </td>
                <td class="operation-menu">
                    <div class="layui-btn-group">
                        <a href="{:url('admin/store_type/ms_banner_publish',['id'=>$vo.id])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i>编辑</a>
                        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i>删除</a>
                    </div>
                </td>
            </tr>
            {/volist}

    </form>
    </tbody>
    </table>
    <div style="padding:0 20px;">{$lists->render()}</div>
    {include file="public/foot"}

    <script type="text/javascript">

        $('.delete').click(function(){
            var id = $(this).attr('id');
            layer.confirm('确定要删除?', function(index) {
                $.ajax({
                    url:"{:url('admin/store_type/ms_banner_delete')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if(res.code == 1) {
                            setTimeout(function(){
                                location.href = res.url;
                            },1500)
                        }
                    }
                })
            })
        })

        $('.sort').on('change', function(){
            let sort = parseInt($(this).val());
            if(isNaN(sort))$(this).val(9999);
            if(sort < 0)$(this).val(9999);
        })

        $('.sort').on('blur', function(){
            let sort = parseInt($(this).val());
            let id = $(this).data('id');
            let index = layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            $.post("{:url('StoreType/edit_banner_sort')}", {id,sort}, function(res){
                layer.close(index);
                layer.msg(res.msg);
            }, 'json')
        })
    </script>


</div>
</body>
</html>
