<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li><a href="{:url('admin/sale/index')}" class="a_menu">店员</a></li>
        <li class="layui-this">{$title}</li>
      </ul>
    </div> 
    <div style="margin-top: 20px;">
    </div>
    <form class="layui-form" id="admin">
      <div class="layui-form-item">
        <div class="layui-input-block" style="max-width:600px;color: red;">备注：销售人员账号密码默认88888888</div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="nickname" lay-verify="required" autocomplete="off" placeholder="请输入昵称" class="layui-input" type="text" {notempty name="$sale.nickname"} value="{$sale.nickname}"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="mobile" lay-verify="required|phone" autocomplete="off" placeholder="请输入手机号" class="layui-input" {notempty name="$sale"}disabled{/notempty} type="text" {notempty name="$sale.mobile"} value="{$sale.mobile}"{/notempty}>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">归属门店</label>
        <div class="layui-input-inline">
          <select name="shop_id" lay-search="" lay-filter="" lay-verify="required">
            {empty name="$sale"}
            <option value="">请选择</option>
            {/empty}
            {volist name="$shop" id="vo"}
            <option value="{$vo.id}" {notempty name="$sale.shop_id"}{eq name="$sale.shop_id" value="$vo.id"} selected=""{/eq}{/notempty} {notempty name="$shop_id"}{eq name="$shop_id" value="$vo.id"} selected=""{/eq}{/notempty}>{$vo.shop_name}</option>
            {/volist}
          </select>
        </div>
      </div>

      {notempty name="$sale"}
      <div class="layui-upload" id="upload-thumb">
        <label class="layui-form-label">头像</label>
        <button type="button" class="layui-btn" id="thumb">上传图片</button>
        <div class="layui-upload-list">
          <label class="layui-form-label"></label>
          <img class="layui-upload-img" id="demo1" width="150" height="150" {notempty name="$sale.avatar"}src="{$sale.avatar}"{/notempty}>{notempty name="$sale.avatar"}<input type="hidden" name="avatar" value="{$sale.avatar}">{/notempty}
          <p id="demoText"></p>
        </div>
      </div>
      {/notempty}
      {notempty name="$sale"}
      <input type="hidden" name="id" value="{$sale.sale_id}">
      {/notempty}
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>

    </form>


    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>

    <script>
    layui.use('upload', function(){
      var upload = layui.upload;
      //执行实例
      var uploadInst = upload.render({
        elem: '#thumb' //绑定元素
        ,url: "{:url('common/upload')}" //上传接口
        ,data:{module:'sale',use:'avatar'}
        ,done: function(res){
          //上传完毕回调
          if(res.code == 2) {
            $('#demo1').attr('src',res.src);
            $('#upload-thumb').append('<input type="hidden" name="avatar" value="'+ res.src +'">');
          } else {
            layer.msg(res.msg);
          }
        }
        ,error: function(){
          //请求异常回调
          //演示失败状态，并实现重传
          var demoText = $('#demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function(){
            uploadInst.upload();
          });
        }
      });
    });
    </script>
    <script>
      layui.use(['layer', 'form'], function() {
          var layer = layui.layer,
              $ = layui.jquery,
              form = layui.form;
          $(window).on('load', function() {
              form.on('submit(admin)', function(data) {
                  $.ajax({
                      url:"{:url('admin/sale/publish')}",
                      data:$('#admin').serialize(),
                      type:'post',
                      async: false,
                      success:function(res) {
                          if(res.code == 1) {
                              layer.alert(res.msg, function(index){
                                location.href = res.url;
                              })
                          } else {
                              layer.msg(res.msg);
                          }
                      }
                  })
                  return false;
              });
          });
      });
    </script>
  </div>
</body>
</html>